
    <div class="card-biere"  data-biereID='<%= biere.id  %>' data-biereNom='<%= biere.nom  %>' data-bierePrix='<%= biere.price  %>'=>
      <div class="logo-place-index">
        <%= cl_image_tag biere.logo_img, class:"logo-picture-index"%>
      </div>

  <div class="logo-place-index">
    <%= link_to biere_path(biere) do %>
    <%= cl_image_tag biere.logo_img, class:"logo-picture-index"%>
  </div>

  <div class="interieur-carte-biere">
    <div class="carte-biere-titres">
      <% if biere.nom.size < 19 %>
        <h2><%= biere.nom %></h2>
      <% else %>
        <h4><%= biere.nom %></h4>
      <% end %>
      <h3>Brasserie <%= biere.brasserie.nom %></h3>
      
      
        <div class="etoiles-notes">
          <ul class= "inline">
            <li><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i></li>
            <li id="txt">144 notes</li>
          </ul>
          </div>
      <% end %>
        <div class="bas-card">
          <div class="super"><p><%= humanized_money_with_symbol(biere.price) %> / litre</p></div>
          <div class="cool"><%= render 'shared/add_remove_panier', biere: biere %></div>
        </div>
     
    </div>
  </div>
</div>


