    <div class="card-biere"  data-biereID='<%= biere.id  %>' data-biereNom='<%= biere.nom  %>' data-bierePrix='<%= biere.prix_par_litre  %>'=>
      <div class="logo-place-index">
        <%= cl_image_tag biere.logo_img, class:"logo-picture-index"%>
      </div>

      <div class="interieur-carte-biere">
        <%= link_to biere_path(biere) do %>
        <div class="carte-biere-titres">
          <ul class= "inline">
            <li><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i></li>
            <li style="color: black">144</li>
          </ul>
          <h2><%= biere.brasserie.nom %></h2>
          <h3><%= biere.nom %></h3>
          <%= render 'caracteristiques_biere_index', biere:biere %>
          <% end %>
        </div>

      <div class="bas-card">
        <div><p><%= biere.prix_par_litre %> € / litre</p></div>
        <div><%= render 'shared/add_remove_panier', biere: biere %></div>
      </div>
      </div>

    </div>


