<div class="relative">
    <div class="card-biere">
        <%= link_to biere_path(biere) do %>
        <%= image_tag biere.logo_img %>
        <h2><%= biere.brasserie.nom %></h2>
        <h3><%= biere.nom %></h3>
        <p><%= biere.style %></p>
        <%= render 'biere_carac', biere: biere %>
        <p><%= biere.taux_alcool %></p>
        <p><%= biere.prix_par_litre %></p>
        <% end %>
    </div>
</div>