<%= render 'shared/navbar' %>

<div class="container-consignerie card-show" data-biereID='<%= @biere.id  %>' data-biereNom='<%= @biere.nom  %>' data-bierePrix='<%= @biere.prix_par_litre  %>'>
  <div class="container-gauche">

    <div class="show-biere">

      <div class="logo-place">
        <%= cl_image_tag @biere.logo_img, class:"logo-picture" %>
      </div>

      <div class="container-interne">
        <div class="carte-gauche" id="nom">
          <h2><%= @biere.nom %></h2>
          <h3><%= @biere.style %></h3>
          <p>Les reviews des internautes</p>
        </div>
        <div class="carte-droite" id="panier-show">
          <h3><%= @biere.prix_par_litre %> € / litre</h3>

          <%= render 'shared/add_remove_panier', biere: @biere %>
        </div>

        <div class="carte-gauche">
          <h2>La bière</h2>
          <p><%= @biere.description %></p>
        </div>
        <div class="carte-droite">
          <h2>Caractéristiques</h2>
            <%= render 'shared/caracteristiques_biere', biere: @biere %>
        </div>

        <div class="carte-gauche" id="brs-g">
          <h2>La brasserie</h2>
          <p><%= @biere.brasserie.description %></p>
        </div>
        <div class="carte-droite" id="brs-d">
          <%= cl_image_tag @biere.brasserie.photo, class:"brasserie-picture" %>
        </div>

      </div>

    </div>
  </div>

 <!--  <div class="container-droit-panier">
    <%= render 'shared/layout_panier' %>
  </div> -->

</div>
<%= render 'shared/footer' %>
