<%= render 'shared/stepper', active: 1 %>

<div class="container-consignerie">

  <div class="stock-growler">

    <h1 id="dataset" data-growlers_small=<%= @growlers.second.id%> data-growlers_small_price=<%= @growlers.second.price%>  data-growlers_big=<%= @growlers.first.id%> data-growlers_big_price=<%= @growlers.first.price%>>Tes growlers</h1>
      <div class="stock-growler-1">

        <div class="logo-consignerie">
          <%= image_tag 'logo-carre.png' %>
        </div>

        <div class="litre">
          <p>1L</p>
        </div>
          <div class="stock-with-input">
            <div class="stock">
              <h3>Ton stock : <%= @small_growlers %>
              </h3>
            </div>
            <h3 class="demande-echange">Combien souhaites-tu en échanger ?</h3>
            <input class="form-control form-control-sm echange1" type="number" placeholder="maximum <%= @big_growlers %>" max='<%= @small_growlers %>' min=0 value='<%= @small_growlers %>'>
          </div>
        </div>
      <div class="stock-growler-1">
        <div class="logo-consignerie">
          <%= image_tag 'logo1.png' %>
        </div>
        <div class="litre">
          <p>2L</p>
        </div>
          <div class="stock-with-input">
            <div class="stock">
              <h3>Ton stock : <%= @big_growlers  %>
              </h3>
            </div>
              <h3 class="demande-echange">Combien souhaites-tu en échanger ?</h3>
              <input class="form-control form-control-sm echange2" type="number" placeholder="maximum <%= @big_growlers %>" max='<%= @big_growlers %>'min=0 value='<%= @big_growlers %>'>
          </div>
        </div>
        <div class="recap-echange">
          <h4></h4>
        </div>
    </div>
    <div class="container-droit-panier">
      <%= render 'shared/layout_panier' %>
    </div>
  </div>
   <%= render 'shared/footer' %>
