<%= render 'shared/stepper', active: 2 %>
<div class="container-consignerie">
  <div class="container-gauche">
    <h1>Commande</h1>
        <% @commande.commandeitems.each do |ci|%>
      <%= ci.item_type  %>
      <%= ci.quantite  %>
      <%= ci.price_cents  %>
        <% end %>
        Amount: <%= humanized_money_with_symbol(@commande.amount) %>
  </div>


  <div class="container-droit-panier">
    <%= render 'shared/layout_panier' %>
  </div>

</div>
<%= render 'shared/footer' %>
