<%= render 'shared/stepper', active: 2 %>
<div class="container-consignerie">
  <div class="container-gauche">
    <h1>Commande</h1>
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <ul class="list-group panierligne">
      <% @commande.commandeitems.each do |ci| %>
      `<li id=${ligne.biereid} class="list-group-item">
        <span class="bierenom">
          <p><%= ci.item_type %></p>
        </span>
        <% if ci.item_type == "Biere" %>
        <span class="bierenom">
          <p><%= ci.item.nom %></p>
        </span>
        <span class="bierequantite">
            <p<%= ci.quantite %></p> </span> <span class="biereprix">
              <p><%= ci.price_cents %></p>
          </span>
          <% else %>
        <% end %>
       
      </li>`
      <%end%>
    </ul>
  </div>




</div>
<%= render 'shared/footer' %>