<%= render 'shared/stepper', active: 2 %>
<div class="container-consignerie">
  <div class="container-gauche">
    <h1>Commande</h1>
    <ul>
      <li>Etat commande: <%= @commande.etat %></li>
      <li>Item: <%= @commande.item_sku %></li>
      <li>Amount: <%= humanized_money_with_symbol(@commande.amount) %></li>
    <ul>

    <!-- Show commande
    <%# @commande.commandeitems.each do |ci|%>
    <%= ci.item.nom  %>
    <%= ci.quantite  %>
    <%# end %> -->

  </div>

  <div class="container-droit-panier">
    <%= render 'shared/layout_panier' %>
  </div>

</div>
<%= render 'shared/footer' %>


