<div class="panier-titre">
  <% if user_signed_in? %>
  <h2 id="layout" data-user=<%= current_user.id%>> Mon panier</h2>
  <% else %>
  <h2 id="layout"> Mon panier</h2>
  <% end %>
</div>
<div class="panier-content">

  <% if current_page?(bieres_path) %>
  <form action='users/<%= current_user.id%>/commandes/' method="post">
    <% else %>
    <form action='/users/<%= current_user.id%>/commandes/<%= @commande.id%>/growlers/' method="post">
      <% end %>


        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <ul class="list-group panierligne">
        </ul>

        <ul class="list-group paniergrowler">
        </ul>
        <% if current_page?(user_commande_path(current_user, @commande))%>
          <input type="submit" hidden value=" Valider mon panier">
        <% else %>
          <input type="submit" class="btn-yellow collecte" value=" Valider mon panier">
        <% end %>
      </form>
</div>

