<div class="landing-home-page">
<%= render 'shared/navbar' %>
<%= render 'shared/flashes' %>
<%= render 'shared/banner' %>
</div>


<div class="container front-content">
  <div class="description">
    <h2>La qualité associée à la consommation responsable</h2>
    <p>
     À La Consignerie, nous nous sommes donné pour mission de favoriser l'émergence et le développement de brasseurs responsables locaux. De la bière de qualité, brassée avec des ingrédients responsables, le tout dans un contenant réutilisable et consigné plus respectueux de l'environnement.
    </p>
  </div>
  <div class="concept">
    <%= image_tag 'growler.jpg', class: 'image-homepage'%>
      <div class="text-concept">
        <h2>Qu'est-ce qu'un growler ?</h2>
        <p>C'est une bouteille réutilisable et consignée d'une capacité d'un ou plusieurs litres qui offre la possibilité de déguster une bière pression à la maison.</p><br>
        <p>Selon la légende, le son du CO2 (dioxyde de carbone) qui s'échappait de la bouteille à l'époque émettait comme un petit grognement et comment se dit grognement en anglais ? Growl.</p><br>
        <p>Outre l’avantage de déguster une bière de qualité pression chez soi, le Growler offre un énorme avantage écologique. La bouteille réutilisable peut être lavée et réemployée jusqu'à 50 fois sans passer par le stade de déchet.
        <br>
        <strong>Tu attends quoi pour l’adopter ?</strong></p>
      </div>
  </div>
  <div class="concept">
    <div class="text-concept">
      <h2>Qui sont les brasseurs responsables ?</h2><br>
      <p>Les brasseurs responsables sont avant tout des personnes avec une histoire, des valeurs et des convictions. Nouvelles, anciennes, petites ou grandes brasseries…</p><br>
      <p> Nous avons rencontré tous les artisans avec qui nous travaillons et sommes certains que nous sommes alignés sur la vision. Nos objectifs sont communs : sensibiliser et promouvoir la consommation responsable et durable.</p>
    </div>
      <%= image_tag 'houblon.jpg', class: 'image-homepage'%>
  </div>
  <div class="concept">
    <%= image_tag  'beerglass.jpg', class: 'image-homepage'%>
      <div class="text-concept">
        <h2>Comment sont choisies les bières ?</h2><br>
        <p>La qualité et l’équilibre avant tout ! Une fois les artisans sélectionnés, la gamme de bière de chaque brasserie est étudiée puis dégustée. Witbier, IPA, Pils, Porter, Brown Ale, Milk Stout, Sour… Aucun style n’est mis de côté.</p><br>
        <p>Les spécialités et spécificités de chacun des brasseurs sont mises en valeurs.
        <br>
        <br>
        <strong>Prépare tes papilles, ça va décoiffer !</strong></p>
      </div>
  </div>
</div>


