<%= render 'shared/navbar' %>
<%= render 'shared/flashes' %>
<%= render 'shared/banner' %>

<div class="container">
  <div class="description">
    <h2>Comitted to the craft</h2>
    <h3>
      At BrewDog we are on a mission to make other people
      as passionate about great craft beer as we are.
      We are committed to putting the passion, the flavour
      and the artisan craftsmanship back into people’s glasses.
      At BrewDog we are on a mission to make other people
      as passionate about great craft beer as we are.
    </h3>
  </div>
  <div class="concept">
    <%= image_tag 'growler.jpg', class: 'image-homepage'%>
      <div class="text-concept">
        <h1>Les growlers</h1>
        <p>La Growler Station est une machine qui permet de remplir un contenant réutilisable, à fermeture mécanique, tout en gardant les atouts pression de la bière pendant près d’une semaine. La Qualité pression à la maison !</p>
      </div>
  </div>
  <div class="concept">
    <div class="text-concept">
      <h1>Les bières</h1>
      <p>Nous proposons une gamme de plus de 350 bières, autours des différents styles présents dans l’univers brassicole. Régionales, Françaises ou Internationales, nous avons forcement ce que vous recherchez.</p>
    </div>
      <%= image_tag 'beerglass.jpg', class: 'image-homepage'%>
  </div>
  <div class="concept">
    <%= image_tag 'houblon.jpg', class: 'image-homepage'%>
      <div class="text-concept">
        <h1>LEs brasseurs responsables</h1>
        <p>Les brasseurs utilisent des houblons et malte de qualité, réduisent au maximum leur déchets en donnant une seconde vie aux drèches. </p>
      </div>
  </div>

</div>
<%= render 'shared/footer' %>

