<%= render 'shared/stepper', active: 4 %>
<script src="https://js.stripe.com/v3/"></script>
<div class="wrapper">
    <form action="/charge" method="post" id="payment-form">
      <div class="form-row">
        <label for="card-element">
          Credit or debit card
        </label>
        <div id="card-element">
          <!-- A Stripe Element will be inserted here. -->
        </div>

        <!-- Used to display form errors. -->
        <div id="card-errors" role="alert"></div>
      </div>

      <button>Submit Payment</button>
    </form>
</div>
<!-- <div class="container-consignerie paiement">
  <div class="paiement">
    <h3>Paiement</h3>
    <%#= form_tag user_commande_payments_path(current_user,@commande) do %>
      <article>
        <label class="amount">
          <p>Montant total de la commande : <%#= humanized_money_with_symbol(@commande.amount*10) %></p>
        </label>
      </article>

      <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
        data-key="<%#= Rails.configuration.stripe[:publishable_key] %>"
        data-label="Paiement par carte"
        data-name="My Item"
        data-email="<%= current_user.email %>"
        data-description="Item <%= @commande.item_sku %>"
        data-amount="<%= @commande.amount_cents %>"
        data-currency="<%= @commande.amount.currency %>"></script>
      <%# end %>
  </div> -->
