<h1>Purchase of teddy <%= @commande.item_sku %></h1>
<%= form_tag commande_payments_path(@commande) do %>
  <article>
    <label class="amount">
      <span>Amount: <%= humanized_money_with_symbol(@commande.amount) %></span>
    </label>
  </article>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
    data-name="My Item"
    data-email="<%= current_user.email %>"
    data-description="Item <%= @commande.item_sku %>"
    data-amount="<%= @commande.amount_cents %>"
    data-currency="<%= @commande.amount.currency %>"></script>
<% end %>
