<%= render 'shared/stepper', active: 3 %>



<div class="container">
    <h1 class="dataset"  data-address='<%= current_user.full_address  %>'' data-lat='<%= current_user.latitude  %>'' data-long='<%= current_user.longitude  %>'>Point de collectes</h1>
    <div class="row">
      <div class="col-6">
          <div class="class=" date_souhaitee">
              <form name = "formDate">
                <h4 id="inputAddress">Date souhaitée</h4>
                <input name="date_input" type="date" class="form-control date_input">
              </form>
            </div>
          <%= render 'shared/map'%>
      </div>
    </div>
  
      <div class="col-6">
          <%= link_to "Paiement",  new_user_commande_payment_path(current_user, params[:commande_id]), method: :get,  class:"btn-yellow" %>
        </div>
  
    </div>
  </div>