<%= render 'shared/stepper', active: 3 %>
<div class="container-consignerie">
  <div class="container-gauche-collecte">
    <div class="titre-collecte">
      <h2 class="dataset"  data-address='<%= current_user.full_address  %>'' data-lat='<%= current_user.latitude  %>'' data-long='<%= current_user.longitude  %>'>Point de collectes</h2>
    </div >
      <div class="date_souhaitee">
          <div class="titre-form">
            <p for="inputAddress">Date souhaitée</p>
          </div>
          <div class="input-form">
              <form><input type="date" class="form-control">
              <input class="input" type="hidden" name="add2L" value="test"></form>
          </div>
      </div> <!-- ferme date souhaitée -->
      <div class="map">
        <%= render 'shared/map'%>
      </div><!-- ferme map -->
    </div>
  </div>
    <%= render 'shared/payment', commande: @commande %>
  </div>
</div>
